.classes-section .sec-title .icon-2 {
    position: absolute;
    left: 80%;
    top: 4px;
}
.doll-4 {
    background-image: url(../images/icons/answers.gif);
    height: 125px;
    width: 220px;
    background-size: 100% 100%;
}
.page-title-about-us h1 {
    padding-top: 44px;
    padding-bottom: 20px;
}
.page-title-about-us {
    padding: 0px 0px;
}
.btn-style-submit {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
    padding: 10px 30px;
    text-transform: capitalize;
    background: #00a650;
    border: 2px solid #00a650;
    font-weight: 700;
}
.icon-submit {
    position: absolute;
    left: 100%;
    top: 0px;
}
.doll-submit {
    background-image: url(../images/icons/animated.png);
    height: 130px;
    width: 236px;
    background-size: 100% 100%;
}
.icon-form {
    position: absolute;
    left: -20%;
    top: 50px;
}
.doll-form {
    background-image: url(../images/icons/child.png);
    height: 200px;
    width: 236px;
    background-size: 100% 100%;
}

@media screen and (max-width: 991px) {
    .doll-submit{
        display: none;
    }
    .doll-form{
        display: none;
    }
    .doll-4{
        display: none;
    }
    .page-title-about-us h1 {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 24px;
    }
}
